.menu{
  height: 60px;
  width: 100%;
  background: white;
  box-shadow: 1px 1px 15px #9b9b9b;
  position: fixed;
  z-index: 10;
}

.menu img{
  margin: 8px;
  margin-left: 5%;
  cursor: pointer;
}

.hamburguer{
  width: 50px;
  height: 50px;
  float: right;
  margin-top: 5px;
  cursor: pointer;
  display: none;
  margin-right: 27px;
}
.square{
  margin: 0 auto;
  height: 2px;
  width: 50%;
  background: #2F759E;
  margin-top: 5px;
}
.margintop{
  margin-top: 16px;
}

.menu a{
  padding: 20px 18px 18px 20px;
  font-size:  15px;
  color: #2F759E;
  font-weight: bold;
  float: right;
  transition: 0.2s;
  text-decoration: none;
  margin-right: 2%;

}

.menu a:hover{
  background: rgb(2, 130, 177);
  color: white;
}


@media only screen and (max-width: 830px) {
  .menu a {
    display: none;
  }
  .hamburguer{
    display: block;
  }
}
