<div class="aEmpresa">
    <hr>
  <h1>SEMPRE PENSANDO A FRENTE</h1>

  <p>A CONECTECOM Telecomunicações Integradas LTDA, é uma empresa criada com o objetivo de Integrar e ofertar soluções
    em TIC – Tecnologia da Informação e Comunicação. </p>
  <p>Além de primar por um diferencial na qualidade da prestação de serviços de Telecomunicações e de Redes, possui
    também em seu foco o objetivo da comercialização de equipamentos, acessórios, periféricos e serviços de
    telecomunicações e conectividade, integrando equipamentos de comunicação e dados.</p>
  <p>Nossa missão, além de prover a excelência nos produtos e serviços ofertados, é gerar em cada etapa do processo uma
    experiência diferenciada aos nossos parceiros e clientes; podendo-lhes oferecer não só a customização de seu produto
    ou serviço como também, manter sempre ativo um canal direto com todos os envolvidos no processo. Agilizando,
    desburocratizando e adequando nossas regras de negócios ao cliente.</p>
  <p>Por isto, esteja conectado!</p>
</div>
